
@{
    ViewData["Title"] = "Index";

}

<div class="container content">
    <div class="row blog">
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-1.jpg">
            </div>
            <h2 class="blog-title">By spite about do of do allow blush</h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-2.jpg">
            </div>
            <h2 class="blog-title">Two Before Arrow Not Relied</h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-3.jpg">
            </div>
            <h2 class="blog-title">Behind Sooner Dining so Window </h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-4.png">
            </div>
            <h2 class="blog-title">By spite about do of do allow blush</h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-5.png">
            </div>
            <h2 class="blog-title">Two Before Arrow Not Relied</h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
        <a href="single-blog.html" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content">
            <div class="blog-image">
                <img src="images/blog-6.png">
            </div>
            <h2 class="blog-title">Behind Sooner Dining so Window </h2>
            <p>Quick six blind smart out burst. Perfectly on furniture dejection determine my depending an to. Add short water court fat.  </p>
            <span class="blog-info"><span>Larry Stark</span> - 7 September 2016 </span>
        </a>
    </div>
</div>